!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %title Familli
    = favicon_link_tag asset_path 'logo.png'
    = csrf_meta_tags
    = csp_meta_tag
    %meta{name: "viewport", content: "width=device-width, initial-scale=0.86, minimum-scale=0.86"}
    %link{:href => "https://fonts.googleapis.com/css?family=Gothic+A1&display=swap", :rel => "stylesheet"}
    %link{rel: "stylesheet", href: "https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css", integrity: "sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T", crossorigin: "anonymous"}
    = javascript_pack_tag 'application'
  %body
    %p.notice= notice
    %p.alert= alert
    = yield
